//Général//
*{
    font-family: 'Roboto', sans-serif;

} 

    $main-color: #9356DC; //purple//
    $secondary-color:#FF79DA;//pink//
    $tertiary-color: #99E2D0;//teal//
    $fourth-color:#008766; //dark green//
    $background:#f3f3f3 ;
    $breakpoint-tablet:600px;
    $breakpoint-desktop:1024px;
    $max-screen:1440px;

    @mixin column{
        display: flex;
        flex-direction: column;
    }
    @mixin gradient-background-clip{
        background:linear-gradient(0deg, $secondary-color -11.44% , $main-color 123.93%);
        -webkit-background-clip: text;
        background-clip: text;
    }
    .fa-grey{
        color: #7E7E7E;
    }

    .fa-purple{
        color:$main-color
    }
    //Body//

body{
    @include column;
    margin:0;

       button{
            background-color: $background; 
        }
        @media screen  and (min-width: $max-screen) {
            max-width:$max-screen;
            margin:auto;          
        }    
          .spin {
            height: 40px;
            width: 40px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            will-change: transform;
            animation: 1.5s linear 2 spinner, 3s fade forwards;
            animation-play-state:running;
            border: solid 10px white;
            border-bottom-color: $main-color;
            border-radius: 50%;
            @keyframes spinner {
            0% {
              transform: translate3d(-50%, -50%, 0) rotate(0deg);
            }
            100% {
              transform: translate3d(-50%, -50%, 0) rotate(360deg);
            }
          }
          @keyframes fade {
            0%{
                opacity:1; 
            }
            
            100%{
                opacity:0;
            }
          }
          }   

          .fade-in{
            background-color: white;

            animation: fadein 4s;

            @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
          }
    header{
        @include column;
        nav{
            position:relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap:4em;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            button{
                position: absolute;
                left: 5%;
                top: 40%;
                background-color: white;
                border: none; 
                visibility: hidden;
            }
            img{
               max-width: 50%;
               margin: 0.5em 0em 0.5em 0em;
               @media screen and (min-width: $breakpoint-tablet){
                    max-width: 35%;
                    margin-top: 2em;
                    margin-bottom: 2em;
               }
               @media screen and (min-width: $breakpoint-desktop) {
                    max-width: 25%;                
               }
            }
        } 
        .location{
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color:#EAEAEA;
            padding:1em 0em 1em 0em;
         }
    }
   
    .info{
        @include column;
        justify-content: center;
        text-align: center;
        background-color: $background;
        gap:1em;
        padding:3em 0em 3em 0em;
        h2, p{
            margin:0;
            padding:0em 1.5em 0em 1.5em;
        }
        h2{
            @media screen and (min-width: $breakpoint-tablet){
                font-size: 40px;
                }
        }
        p{
            font-weight: 300;
            font-size: 18px;
        }
        a{
            text-decoration: none;
            margin-top: 1em;
            background:linear-gradient(0deg, $main-color -11.44%, $secondary-color 123.93%);
            border-radius: 35px;
            border:none;
            color: white;
            max-width: fit-content;
            align-self: center;
            padding:1em 1.5em 1em 1.5em;
            font-weight: 500;
            font-size: 16px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            transition: 1s;
            &:hover{
                opacity: 0.75 ;
                box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5)
            }
        }      
    }

    .fonctionnement{
        @include column;
        margin:3em;
        @media screen and (min-width: $breakpoint-tablet){
        padding-left:2em;
        padding-right:2em;
        }
        @media screen and (min-width: $breakpoint-desktop){
            padding-left: 8em;
            padding-right: 8em;
        }
        h3{
            font-size: 24px;
            margin-top: 0;
            
        }
        div{       
            @include column;
            align-items: center;
            gap:1.5em;
            @media screen and (min-width: $breakpoint-desktop){
            flex-direction: row;
            justify-content: center;
        }
            button{
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                font-weight: 500;
                font-size: 13px;
                padding:1.5em 1em 1.5em 1em;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                border:none;
                border-radius: 20px;
                gap:1em;
                @media screen and (min-width: $breakpoint-tablet){
                    max-width: 50%;
                }
                @media screen and (min-width: $breakpoint-desktop){
                    max-width: 35%;
                    gap:1em;
                }
                .number{
                    margin-left: -1.5em;
                    color: white;
                    background-color: $main-color;
                    border-radius: 20px;
                    font-size: small;
                    padding: 0.1em 0.4em 0em 0.4em;
                }
            }
        }
    }
    .restaurants{
        @include column;
        max-width: 100%;
        background-color: $background;
        @media screen and (min-width: $breakpoint-tablet){
         padding-left: 2em;
         padding-right: 2em;
        }
        @media screen and (min-width: $breakpoint-desktop){
            padding-left: 8em;
            padding-right: 8em;
        }
        h3{
            font-size: 24px;
            margin-left:2em ;
        }
        .menus{
            @include column;
            align-items: center;
            @media screen and (min-width: $breakpoint-tablet){
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
            .card{
                margin:1em;
                width: 95%;
                background-color: white;
                border-radius: 20px;
                @media screen and (min-width: $breakpoint-tablet){
                    width: 42%;
                }
                @media screen and (min-width: $breakpoint-desktop){
                    margin-left: 1.8em;
                    margin-right:1.8em;
                }
                a{
                    @include column;
                    img{
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    width: 100%;
                    height: 200px;
                        @media screen and (min-width: $breakpoint-tablet){
                            object-fit: cover;
                        }
                    }
                    .badge{
                        position: absolute;
                        align-self: flex-end;
                        margin-top: 1em;
                        margin-right: 1em;
                        background-color: $tertiary-color;
                        color: $fourth-color;
                        padding: 0.4em 1em 0.4em 1em;
                        border-radius: 5px;
                    }
                    .badge-off{
                        visibility:hidden
                    }
                }
                div{
                    margin:0.5em;
                    display: flex;
                    justify-content: space-between;
                    .card-text{
                        @include column;
                        h2, p{
                            margin:0.1em;
                        }
                        h2{
                            font-size: 18px;
                            font-weight: 700;
                        }
                        p{
                            font-weight: 300;
                            font-size: 17px;
                        }
                    }
                    input{
                        height: 0;
                        width: 0;
                        visibility: hidden;
                    }
                    .like{
                        align-self: center;
                        font-size: 35px;
                        padding-right: 0.5em;
                        padding-top: 0.3em;    
                        @include gradient-background-clip;
                        color: black;                          
                    }
                    .like:before{
                        position:relative;
                        content: "\f004";
                        left:35px;
                        z-index: 2;
                        transition:3s;
                    }
                    .like:after{
                        position:relative;
                        color: white;
                        content: "\f004";
                        z-index: 1;
                        transition: 3s;
                    }
                    input:checked +.like:before{
                            opacity:0;
                    }
                    input:checked +.like:after{
                        @include gradient-background-clip;
                        font-weight: 900;
                        color: transparent;
                    }
                }                       
            }
        }
    }
    footer{   
        @include column;
        color:#EAEAEA;
        background-color: #353535;
        padding: 1em;
        gap:0.5em;
        @media screen and (min-width: $breakpoint-tablet){
         flex-direction: row-reverse;
         padding-top: 2em;
        }
        img{
            filter: invert(100%);
            max-height:20px;
            max-width:80px;
            padding: 0.5em;
            @media screen and (min-width: $breakpoint-tablet){
                padding-top: 0;
                padding-left:4em;
                max-width: 120px;
            }
        } 
        div{
            @include column;
            @media screen and (min-width: $breakpoint-tablet){
                flex-direction: row;
                gap:2em;
            }
            a{
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}